body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

.navbar {
    background: #020617;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    margin: 0;
    color: #38bdf8;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #38bdf8, #6366f1);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: #38bdf8;
}

.jobs {
    padding: 40px;
}

.job-card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}