* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    background: #020617;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: #38bdf8;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    color: #38bdf8;
}

/* CARD */
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    margin: 60px auto;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* INPUT */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #38bdf8, #6366f1);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* JOB LIST */
.job-card {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.job-card:hover {
    transform: scale(1.02);
}

/* TEXT */
h2 {
    text-align: center;
    margin: 20px 0;
}

p {
    margin: 5px 0;
}

/* LINKS */
a {
    text-decoration: none;
}