<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>HireHub</h2>
    <div>
        <a href="/jobs">Jobs</a>
        <a href="/applications">Applications</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2>Welcome, {{ session['user'] }} 👋</h2>

        <br>

        <a href="/jobs"><button>Browse Jobs</button></a>
        <br><br>
        <a href="/applications"><button>View Applications</button></a>
    </div>
</div>

</body>
</html>