<!DOCTYPE html>
<html>
<head>
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>HireHub</h2>
    <div>
        <a href="/post_job">Post Job</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h2>Jobs</h2>

{% for job in jobs %}
<div class="job-card">
    <h3>{{ job[1] }}</h3>
    <p>{{ job[2] }}</p>
</div>
{% endfor %}

<h2>Applications</h2>

{% for app in apps %}
<div class="job-card">
    <p>{{ app[1] }} applied for {{ app[2] }}</p>
    <p>Status: {{ app[7] }}</p>

    <a href="/shortlist/{{ app[0] }}"><button>Shortlist</button></a>
    <a href="/interview/{{ app[0] }}"><button>Interview</button></a>
</div>
{% endfor %}

</body>
</html>