<!DOCTYPE html>
<html>
<head>
    <title>Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>HireHub</h2>
    <div>
        <a href="/candidate_dashboard">Dashboard</a>
        <a href="/applications">Applications</a>
        <a href="/logout">Logout</a>
    </div>
</div>

{% for job in jobs %}
<div class="job-card">
    <h3>{{ job[1] }}</h3>
    <p>{{ job[2] }}</p>
    <p>{{ job[3] }}</p>
    <p>{{ job[4] }}</p>
    <p>{{ job[5] }}</p>

    <a href="/apply/{{ job[0] }}">
        <button>Apply</button>
    </a>
</div>
{% endfor %}

</body>
</html>