<!DOCTYPE html>
<html>
<head>
    <title>Post Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="card">
    <h2>Post Job</h2>

    <form method="POST">
        <input name="title" placeholder="Title" required>
        <input name="description" placeholder="Description" required>
        <input name="company" placeholder="Company" required>
        <input name="salary" placeholder="Salary" required>
        <input name="location" placeholder="Location" required>

        <button>Post Job</button>
    </form>
</div>

</body>
</html>