<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>HireHub</h2>
</div>

<div class="card">
    <h2>Register</h2>

    <form method="POST">
        <input name="name" placeholder="Name" required>
        <input name="email" placeholder="Email" required>
        <input name="password" placeholder="Password" required>

        <select name="role">
            <option value="candidate">Candidate</option>
            <option value="hr">HR</option>
        </select>

        <button type="submit">Register</button>
    </form>

    <br>
    <a href="/login">Back to Login</a>
</div>

</body>
</html>